In [35]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
g_key = 'AIzaSyDHE4qW88XQ7mSqJXZA-1le8zQu-OFTcsA'
gmaps.configure(api_key = g_key)

In [36]:
#connecting to weatherpy data
weather_data = "Global Weather Data.csv"
weather_df = pd.read_csv(weather_data)
weather_df.dropna(inplace = True) 
weather_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Windspeed
0,0,bengkulu,100.0,ID,1613395278,85.0,-3.8004,102.2655,79.50,3.29
1,1,camacha,40.0,PT,1613395348,72.0,33.0833,-16.3333,64.40,8.05
2,2,bluff,91.0,NZ,1613395348,81.0,-46.6000,168.3333,48.00,1.01
3,3,saint-philippe,90.0,RE,1613395348,61.0,-21.3585,55.7679,84.20,4.61
4,4,kavali,0.0,IN,1613395349,70.0,14.9167,79.9833,74.23,8.81
...,...,...,...,...,...,...,...,...,...,...
427,476,diglur,8.0,IN,1613395471,20.0,18.5500,77.6000,82.89,4.76
428,477,semporna,20.0,MY,1613395471,89.0,4.4818,118.6112,78.80,10.16
429,478,honiara,100.0,SB,1613395471,81.0,-9.4333,159.9500,79.20,2.44
430,479,majene,98.0,ID,1613395471,80.0,-3.5403,118.9707,78.98,3.62
431,481,zyryanka,12.0,RU,1613395472,83.0,65.7500,150.8500,-26.19,4.05

In [37]:
# Store latitude and longitude in locations
locations = weather_df[["Latitude", "Longitude"]]

# Fill NaN values and convert to float
humidity = weather_df["Humidity"].astype(float)

In [38]:
# Plot Heatmap
fig = gmaps.figure()

In [42]:
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=5,
                                 point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
#create new dataframe storing weather criteria
Ideal_df = pd.DataFrame(weather_df, columns = ["City", "Max Temperature", "Windspeed", "Cloudiness"])
Ideal_df.head()
IdealTemp = (Ideal_df['Max Temperature'] < 80) & (Ideal_df["Max Temperature"] > 70) 
IdealWind = Ideal_df['Windspeed'] < 10
IdealCloudiness = Ideal_df['Cloudiness'] == 0 
Ideal_df[IdealTemp & IdealWind & IdealCloudiness]

                   City  Max Temperature  Windspeed  Cloudiness
4                kavali               74       8.81         0.0
104            umm lajj               79       7.58         0.0
111              dezful               78       4.79         0.0
126         chandrakona               73       5.79         0.0
136           geraldton               73       9.22         0.0
150          tacuarembo               77       5.55         0.0
155              yarada               78       3.44         0.0
167              mailsi               74       5.39         0.0
237                 sur               75       3.80         0.0
263              loanda               76       3.20         0.0
281                 pyu               73       3.98         0.0
298             bubaque               77       3.56         0.0
318            dehloran               76       2.80         0.0
321           bheramara               72       3.29         0.0
354  puerto del rosario               71       6.91         0.0
380        port augusta               77       6.91         0.0
401             salalah               78       9.22         0.0
402              murgab               71       6.91         0.0
405              laguna               78       4.23         0.0
412             teguise               71       3.44         0.0
421            adelaide               72       1.14         0.0

In [58]:
#store into new df called hotel_df
hotel_df = pd.DataFrame(weather_df, columns = ["City", "Country", "Latitude", "Longitude"])
hotel_df["Hotel"] = ""
hotel_df.head()

             City Country  Latitude  Longitude Hotel
0        bengkulu      ID   -3.8004   102.2655
1         camacha      PT   33.0833   -16.3333
2           bluff      NZ  -46.6000   168.3333
3  saint-philippe      RE  -21.3585    55.7679
4          kavali      IN   14.9167    79.9833

In [57]:
hotel_list = []
coord = f"{hotel_df['Latitude'][0]},{hotel_df['Longitude'][0]}"
radius = 5000
search = "hotel"
query_type = search

Query_parameters = {
    "location": coord,
    "keyword": search,
    "radius": radius,
    "type": query_type,
    "key": g_key
}

Gmap_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
response = requests.get(Gmap_url, Query_parameters)

In [60]:
hotel_df.iloc[0][4]

''

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]